<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Browserprint</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <servlet>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>StatisticsServlet</display-name>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>servlets.StatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>JSONServlet</display-name>
    <servlet-name>JSONServlet</servlet-name>
    <servlet-class>servlets.JSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSONServlet</servlet-name>
    <url-pattern>/json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PrivacyPage</display-name>
    <servlet-name>PrivacyPage</servlet-name>
    <jsp-file>/WEB-INF/privacy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivacyPage</servlet-name>
    <url-pattern>/privacy</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UTF8Filter</filter-name>
    <filter-class>filters.UTF8Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UTF8Filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>CookieFilter</filter-name>
    <filter-class>filters.CookieFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <context-param>
    <param-name>serversPublicIP</param-name>
    <param-value>1.2.3.4</param-value>
  </context-param>
  <context-param>
    <param-name>TorDNSELServer</param-name>
    <param-value>torproject.org</param-value>
  </context-param>
  <context-param>
    <param-name>IpAddressHandling</param-name>
    <param-value>HASH</param-value>
  </context-param>
  <context-param>
    <param-name>IpHashSalt</param-name>
    <param-value>ChangeMyValue</param-value>
  </context-param>
  <context-param>
    <param-name>SaveTorUserIP</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>devEmail</param-name>
    <param-value>tD66BSHWU@gmail.com</param-value>
  </context-param>
</web-app>